<div class="row">
    <div class="col-sm-6 col-md-6 col-sm-offset col-md-offset">
        <ul class="list-group">
            <li class="list-group-item">
                <span class="badge"></span>
                <strong>Title</strong>
                <span.label.label-seccess>Rp1000</span>
                <div class="btn-group">
                    <button class="btn btn-primary btn-xs dropdown-toggle" type="button">Action <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#"Reduce by 1></a></li>
                        <li><a href="#"Remove All></a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>